$mapa1: (

    1px red,
    2px gray,
    3px blue,
    4px lightblue,
    5px yellow
    );

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    height: auto;
    width: 100%;
    background-color:  cadetblue;
    padding: 20px;
}

.img{
    border: 2px solid gray;
    height: 300px;
    width: 100%;
    padding: 10px;  
}
.img1{
    background-image: url(/img/f1.jpg);
    background-position: center;
    background-size: cover;
}
.img2{
    @extend .img1;
    background-image: url(/img/f2.jpg);
}
.img3{
    @extend .img1;
    background-image: url(/img/f3.jpg);

}
.img4{
    @extend .img1;
    background-image: url(/img/f4.jpg);
}
.img5{
    @extend .img1;
    background-image: url(/img/f5.jpg);
}